.page-footer {
  .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    @include btn-svg(61px, 23px, url('./assets/svg/rs-school-logo.svg'));
    display: block;
  }

  .btn-link {
    &:hover {
      border: none;
      transform: translateY(0);
      box-shadow: none;
    }
  }
}

@media screen and (min-width: 1240px) {
  .page-footer {
    font-size: 20px;
    .footer-logo {
      width: 85px;
      height: 30px;
      background-size: 100%;
    }
  }
}
